
.category-header{
  height: 63vh;
}

.category-header img {
  position: relative;
  overflow: hidden;
  top: -270px;
  z-index: -1;
}

.category-header-text {

  position: absolute;
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  left: 0;
  right: 0;
  text-align: center;
}

.category-header h1 {
  color: white;  
  text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 5px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid white;
}

.category-header p {
  color: white;  
  text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 25px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.category-item-index {
  /* border: 2px solid blue; */
  box-shadow: inset 0 0 35px #f3f2f1,
    3px 3px 5px 0 rgb(251, 250, 250);;
  width: 52%;
  margin: auto;
  padding: 20px 0;
  overflow: scroll;
  height: 300px;
  display: flex;
  margin-top: 10px;
}

.meal-kit-img{
  position: relative;
  overflow: hidden;
  top: -610px;
  z-index: -1;
  height: 600px;
}
