.error-container {
  position: relative;
  color:rgb(28, 27, 27);
  display:block;
  font-style:normal;
  font-weight:400;
  height:124px;
  line-height:23.1px;
  max-width:983px;
  padding-bottom:0px;
  padding-left:0px;
  padding-right:0px;
  padding-top:0px;
  text-align:center;
  text-size-adjust:100%;
  
  top: 280px;
  margin: auto;
  }
  
  .error-404 {
    color:rgb(28, 27, 27);
  display:block;
  font-family:Montserrat, sans-serif;
  font-size:13px;
  font-style:normal;
  font-weight:500;
  height:15px;
  letter-spacing:2.6px;
  line-height:15.6px;
  margin-block-end:7px;
  margin-block-start:0px;
  margin-bottom:7px;
  margin-inline-end:0px;
  margin-inline-start:0px;
  margin-top:0px;
  
  text-size-adjust:100%;
  }
  
  .error-description {
    box-sizing:border-box;
  color:rgb(106, 106, 106);
  display:block;
  font-family:"Nunito Sans", sans-serif;
  font-size:14px;
  font-style:normal;
  font-weight:400;
  height:23px;
  line-height:23.1px;
  margin-block-end:14px;
  margin-block-start:0px;
  margin-bottom:14px;
  margin-inline-end:0px;
  margin-inline-start:0px;
  margin-top:0px;
  
  }
  
  .error-button {
    background-color:rgb(59, 140, 165);
    border-bottom-color:rgb(28, 27, 27);
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-image-repeat:stretch;
    border-image-slice:100%;
    border-image-width:1;
    border-color:rgb(28, 27, 27);
    border-left-style:solid;
    border-left-width:1px;
   
    border-right-style:solid;
    border-right-width:1px;
  
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-top-style:solid;
    border-top-width:1px;
    box-sizing:border-box;
    color:rgb(255, 255, 255);
    cursor:pointer;
    display:inline-block;
    font-family:Montserrat, sans-serif;
    font-size:12px;
    font-style:normal;
    font-weight:500;
    height:45px;
    letter-spacing:2.4px;
    line-height:normal;
    margin-top:20px;
    padding-bottom:14px;
    padding-left:28px;
    padding-right:28px;
    padding-top:14px;
    position:relative;
    text-align:center;
    text-decoration-color:rgb(255, 255, 255);
    text-decoration-line:none;
    text-decoration-style:solid;
    text-size-adjust:100%;
    text-transform:uppercase;
    transition-delay:0s, 0s;
    transition-duration:0.45s, 0.45s;
    transition-property:color, border;
    transition-timing-function:cubic-bezier(0.785, 0.135, 0.15, 0.86), cubic-bezier(0.785, 0.135, 0.15, 0.86);
    width:228.328px;
  z-index:1;
  }
  
  .error-button:hover {
    color: black;
    background-position: left;
   
  }