.carousel {
  height: 85vh;
  display: flex;
  width: 100%;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  background: url("https://oceanstar-seed.s3-us-west-1.amazonaws.com/splash-oyster.jpeg") no-repeat center center/cover;
  font-family: 'Raleway', sans-serif;
  color: white;
  text-transform: uppercase;
}

.carousel:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0,0,0, 0.3);
}

.main-title {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: 10vh;
  align-items: center;
  justify-content: center;
  width: 520px;
  z-index: 2;
}

.main-title h2 {
  /* font-size: 35px; */
  font-size: 4.2vh;
  letter-spacing: 12px;
  margin: 18px 0;
  font-weight: 600;
}



.main-title h4 {
  border-top: 3px solid #ccc;
  padding-top: 35px;
  font-size: 19px;
  letter-spacing: 7px;
}

.main-title .h2-last {
  border-bottom: 3px solid #ccc;
  padding-bottom: 35px;
}

.carousel-footer {
  background: #132e37;
  color: #FFF;
  height: 46px;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  letter-spacing: 3.4px;
  justify-content: space-evenly;
  font-weight: 400;
  flex-wrap: wrap;
  z-index: 2;
}
.main-shop {

  color:rgb(28, 27, 27);
  display:flex;
  flex-wrap:wrap;
  font-family: 'Raleway', sans-serif;
  font-size:12px;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);;
  opacity: .9;
  font-weight:400;
  text-decoration: none;
  text-align:center;
  background-color:rgba(51, 51, 51, 0.55);
  bottom:0px;
  box-sizing:border-box;
  border: 2px solid white;

  display:block;
  height:26px;
  left:0px;
  right:0px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 14px;
  top:0px;
  transition-timing-function:ease;
  width:175.453px;
  -webkit-font-smoothing:antialiased;
    border: 2px solid rgb(255, 255, 255);;
  z-index: 2;
}