.show-container {
  display: flex;
  margin-top: 10%;
  margin-left: 25%;
  margin-bottom: 200px;
}

.show-container img {
  width: 410px;
  height: auto;
  padding-right: 30px;
}

.show-description {
  width: 350px;
}

.show-description h2 {
  font-size: 13px;
  font-weight: 200;
  letter-spacing: 3px;
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.show-description h1 {
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 25px;
}

.show-price {
  font-family: Avenir, sans-serif;
  margin-bottom: 20px;
  font-size: 22px;
  color: rgb(87, 87, 87);
  font-weight: 100;
}

.show-description {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 40;
  color: rgb(29, 28, 28);
  margin-bottom: 24px;
  line-height: 24px;
}

.show-product-form {
  display: flex;
  flex-direction: column;
}

.show-product-form input {
  width: 62px;
  height: 29px;
  padding-left: 5px;
  margin-bottom: 22px;
}

.show-product-form button {
  background-color:rgb(59, 140, 165);
  border-bottom-color:rgb(59, 140, 165);
  border-bottom-left-radius:20px;
  border-bottom-right-radius:20px;
  border-bottom-width:0px;
  border-left-color:rgb(59, 140, 165);
  border-left-width:0px;
  border-right-color:rgb(59, 140, 165);
  border-right-width:0px;
  border-top-color:rgb(59, 140, 165);
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  border-top-width:0px;
  bottom:0px;
  box-sizing:border-box;
  color:rgba(255, 255, 255, 0.712);
  content:"";
  height:30px;
  left:0px;
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  letter-spacing: 1.32px;
  transform:matrix(1, 0, 0, 1, 0, 0);
  transform-origin:0px 20px;
  transition-delay:0s;
  transition-duration:0.45s;
  transition-property:transform;
  transition-timing-function:cubic-bezier(0.785, 0.135, 0.15, 0.86);
  width:270px;
  outline: none;
}